// case studies general

.page-template-case-studies {
    .content-sm {
        height: 100%;
    }
}

.case-studies {
    .content-wrapper {
        width: 100vw;
    }

    &:not(.slide-content) {
        height: 100vh;
    }

    .text {
        @media (min-width: 1920px) {
            font-size: 17px;
        }
    }

    &-imgs-grid-cont {
        line-height: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-full {
            grid-column: 1 / -1;
        }

        &-full-md {

            @include respond-to('medium') {
                grid-column: 1 / -1;

            }
        }

    }

    .content {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;

        &.content-last {
            display: flex;

            @include respond-to('tablet_m') {
                &:not(.content-last) {

                    display: none !important;
                }

            }
        }

        @include respond-to('tablet_m') {
            &:not(.content-last) {

                display: none !important;
            }

        }

        &-sm {
            display: none;

            @include respond-to('tablet_m') {
                display: flex;

            }
        }

    }

}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// general img overlays
.content {

    &-image-overlay {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &-image-right-side-overlay {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../img/case-studies-hero-overlay-right.svg');
            background-size: cover;
        }
    }

    &-color-overlay {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0.77);
        }
    }

    &-blur-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            -webkit-filter: blur(25px);
            filter: blur(25px);
        }

    }


}

/// content-sm
// .content-sm-overlay {
//     &::before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-size: auto;
//         background-position: top top;
//         background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 21%, rgba(0, 0, 0, 0) 70%);
//     }
// }


.content-inner-sm {
    z-index: 2;
}

.case-studies-title-sm {
    color: $white;
    line-height: auto;
    font-size: 28px;
}

.case-studies-subtitle-sm {
    font-weight: normal;
    font-size: 32px;
}

.text-sm {
    color: $white;
    font-size: 17px;

    @include respond-to('tablet') {
        padding-top: 32px;
        left: 32px;
    }
}

// hero
.hero-slide {
    width: 100%;
    height: 100%;

    & .content,
    .content-sm {
        display: flex;

        @include respond-to('tablet_m') {
            display: none;
        }

        .case-studies-img-container {
            margin-bottom: 100px;

            @include respond-to('desktop') {
                margin-bottom: 32px;
            }

        }

        & .case-studies-titles {
            z-index: 2;
            align-self: center;
            color: $white;
            line-height: normal;
            font-size: 36px;

            & .case-studies-subtitle {
                font-weight: normal;
                padding-bottom: 5px;
                font-size: 36px;
                text-transform: uppercase;
            }

            & .case-studies-title {
                font-weight: bold;
            }
        }

        &-sm {
            display: none;
            height: 100%;

            @include respond-to('tablet_m') {
                display: flex;
                justify-content: flex-start;
                align-items: start;
                z-index: 10;

                padding: 90px 20px 0 20px;
                position: relative;

                .content-inner-sm {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }

    }

}

// .case-studies-logo {
//     @include respond-to('phone') {
//         width: 160px;
//     }
// }

// .content-inner {
//     padding: 0 32px 0 100px;
//     z-index: 1;
//     display: flex;
//     position: relative;

//     @include respond-to('tablet_m') {
//         padding: 90px 20px;
//     }

//     .case-studies-titles {
//         z-index: 2;
//         align-self: center;
//         color: #fff;
//         line-height: normal;
//         font-size: 36px;
//     }

//     .case-studies-img-container {
//         margin-bottom: 100px;

//         @include respond-to('desktop') {
//             margin-bottom: 32px;
//         }
//     }

//     .case-studies-titles {
//         z-index: 2;
//         align-self: center;
//         color: $white;
//         line-height: normal;
//         font-size: 36px;

//         .case-studies-subtitle {
//             font-weight: normal;
//             padding-bottom: 5px;
//             font-size: 36px;
//         }

//         .case-studies-title {
//             font-weight: bold;
//         }

//         .case-studies-subtitle,
//         .case-studies-title {
//             text-transform: uppercase;

//             @include respond-to('phone') {
//                 font-size: 28px;
//             }
//         }
//     }
// }

// slide 3
.slide-three-images {
    background: $black;

    .content-wrapper {
        margin-left: 0;
    }

}

.case-studies-imgs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-template-rows: repeat(3, calc(100vh / 3));

    @media screen and (min-width:1240px) {
        grid-template-rows: repeat(2, 50vh);
    }

    @media screen and (min-width:1920px) {
        grid-template-rows: repeat(2, 50vh);
    }

    @include respond-to('tablet_m') {
        display: none;
    }

}

// slide 4
.slide-two-images {
    background: $black;

    .content-wrapper {
        margin-left: 0;
    }

    .case-studies-imgs-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 50vh);
    }
}

// slide 5
.slide-with-blockquote {

    .content-inner-blockquote:not(.content-inner-sm) {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 272px;
        width: 100%;

        @include respond-to('desktop') {
            padding: 0 50px 0 255px;
        }

        blockquote.case-studies-titles {
            margin: 0;

            .description {
                display: block;
                font-size: 24px;
                font-weight: 600;
                color: rgba($white, 0.75);

                &:last-child {
                    font-weight: normal;
                }
            }
        }

        .link-orientation {
            position: absolute;
            bottom: 80px;
            left: 272px;
            line-height: normal;
            display: block;

            @include respond-to('tablet_s') {
                left: 140px;
                bottom: 60px;
            }

            @include respond-to('desktop') {
                left: 255px;
            }

            @include respond-to('tablet_m') {
                display: none;
            }

            a {
                font-size: 22px;
                text-transform: uppercase;
                font-weight: 600;
                display: flex;
                align-items: center;
                color: $primary;
                transition: 0.3s ease;

                &:hover {
                    color: $white;
                }

                @include respond-to('tablet') {
                    font-size: 16px;
                }
            }

            .icon-caret-right {
                font-size: 22px;
                color: #C4C4C4;
                display: inline-block;
                margin-left: 5px;
            }
        }

        .case-studies-title {
            padding-left: 0;
        }

        .case-studies-title {
            font-size: 30px;
            line-height: auto;
            text-transform: uppercase;
            margin: 0 0 19px;

            img {
                display: inline;
                vertical-align: top;
            }
        }

    }

}

.content-inner-sm-blockquote {
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 2;

    .sidebar-title-box-regular {
        margin-top: auto;

        @include respond-to('phone') {
            margin-bottom: 85px;
        }
    }

    .case-studies-titles {
        margin: auto 0;

        @media (orientation: landscape) {
            padding-bottom: 10px;
        }
    }
}

// 
.slide-content {
    color: $white;
    background: $black;

    .case-info-section {
        width: 100%;
        z-index: 2;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: $border;
            z-index: 2;

            @include respond-to('tablet_m') {
                left: 0;
                width: 0;
            }
        }
    }

    .top-img-navigation {
        position: absolute;
        top: 0;
        left: 0;
        height: 172px;
        width: 100%;

        @include respond-to('desktop') {
            height: 163px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }



}


.case-studies-imgs-grid-sm {
    display: none;

    @include respond-to('tablet') {
        display: grid;
        grid-auto-columns: 1fr;
        position: relative;
        grid-template-rows: repeat(2, 50vh);
        height: 100%;

        .case-studies-imgs-grid-cont-top {
            grid-row: 1 / 2;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .case-studies-imgs-grid-cont-bottom {
            grid-row: 2 / 3;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .case-studies-imgs-grid-info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

}

.case-studies-lg-img {
    .content-wrapper {
        margin-left: 0;

        .grid-img {
            width: 100%;
            display: grid;
            grid-auto-columns: 1fr;
            grid-auto-rows: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include respond-to('tablet_m') {
                display: none;
            }

            &-sm {
                display: none;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @include respond-to('tablet') {
                    display: grid;
                }

            }
        }
    }
}

.case-studies-imgs-grid-full-sm {
    display: none;
    position: relative;

    @include respond-to('tablet') {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .case-studies-imgs-grid-info {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.case-studies-imgs-grid-full {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50vh);
    width: 100%;

    @include respond-to('desktop') {
        grid-template-rows: repeat(2, 50vh);
    }

    @include respond-to('tablet_m') {
        display: none;
    }

}

.grid-img-sm-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    padding-left: 70px;

    @include respond-to('tablet') {
        padding: 90px 32px 90px 200px;
    }

    @include respond-to('tablet_m') {
        padding: 90px 20px;
    }

}

.case-studies-blockquote-title-sm {
    margin-top: auto;
    text-transform: uppercase;
    padding-bottom: 17px;
    font-size: 24px;

    @media (orientation: landscape) {
        padding-bottom: 16px;
    }

    @include respond-to('tablet_m') {
        font-size: 17px;
        padding-top: 17px;
    }

    img {
        display: inline;
    }
}

.description-blockquote-sm {
    display: block;
    font-size: 17px;
    color: rgba($white, 0.75);
    line-height: auto;
    font-weight: 600;
}

.lazy-load-container {
    padding-top: 122px;

    @include respond-to('desktop') {
        padding-top: 90px;
    }
}

.sticky-container {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
    left: 155px;
    background-image: linear-gradient(180deg, rgba(25, 28, 30, 0) 0%, #191C1E 74.48%);
    height: 314px;
    z-index: 10;

    @media (max-width:768px) {
        width: 100%;
    }

    @media (min-width: 769px) and (max-width:812px) {
        left: 100px;
        width: calc(100% - 200px - 100px);
    }

    @media (min-width:812px) {
        left: 155px;
        width: calc(100% - 300px - 155px);
    }

    @media (min-width:1680px) {
        left: 155px;
        width: calc(100% - 500px - 155px);
    }

}

.total-grid-column-fit {
    grid-row: 1 / -1;
}

.sticky-container-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $primary;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.67;

    font: {
        size: 22px;
        weight: 600;
    }
}

#simple-bar {
    width: 100vw;
    height: 100vh;
}

.simplebar-scrollbar.simplebar-visible {
    background: $white;
    width: 10px;
    margin-left: 10px;

    &::before {
        opacity: 0;
    }
}

.simplebar-hover .simplebar-scrollbar {
    cursor: grab;
}

.simplebar-scrollbar.simplebar-visible.simplebar-hover {
    pointer-events: none;

    @media (min-width:768px) {
        width: 20px;
        margin-left: 0;
        pointer-events: all;
    }
}

.simplebar-track.simplebar-vertical {
    top: 45px;
    width: 20px;

    @media (min-width:540px) {
        top: 80px
    }

    @media (min-width:968px) {
        top: 0;
        pointer-events: all;
    }
}
